<div class="user-info">
  <h2>Info for user '<%= @name %>':</h2>
  <ul>
    <li><strong>Username:</strong> <%= @name %></li>
    <br>
    <li><strong>E-Mail:</strong> <%= @email %></li>
    <br>
    <li><strong>Interests:</strong> <%= @interests.join(', ') %>.</li>
  </ul>
  <h3>Other Users:</h3>
  <ul>
    <% @other_users.each do |name| %>
      <li>
        <a href="/<%= name.to_s %>"><%= name.to_s %></a>
      </li>
      <br>
    <% end %>
  </ul>
</div>
